<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>

        <style>
            .danger {
                color: red;
            }

            .bold {
                font-weight: bold;
            }

            .underline {
                text-decoration: underline;
            }

        </style>

    </head>
    <body>

        <div id="app">
            
            <input id="bold" type="checkbox" v-model="isBold">
            <lable for="bold">&nbsp;Make Bold</lable>
            <br>

            <input id="danger" type="checkbox" v-model="isDanger">
            <lable for="danger">&nbsp;Make Danger</lable>
            <br>

            <input id="underline" type="checkbox" v-model="isUnderline">
            <lable for="underline">&nbsp;Make Underline</lable>
            <br>

            <hr>
            
            <div id="app" style="margin-left: 50%">
                <span v-bind:class="{ bold: isBold, danger: isDanger, underline: isUnderline }">Watch This!</span>
            </div>

        </div>

        <script type="text/javascript">

            var data = {
                isBold : false,
                isDanger: false,
                isUnderline : false
            };

            var vm = new Vue({
                el: '#app',
                data: data
            });

        </script>
    </body>
</html>
