<!DOCTYPE html>
<html>
    <head>
        <title>A Form using Vue.js</title>
        <!-- CSS -->
        <link rel="stylesheet" href="./libs/bootstrap/css/bootstrap.min.css">
        
        <!-- JS -->
        <script src="./libs/jquery/jquery-3.4.1.min.js"></script>
        <script src="./libs//vue/vue.min.js"></script>
        <script src="./libs/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        
        <div class="container mt-3" id="app">
            <div class="d-flex justify-content-center">
                <div style="border: 1px solid gray" class="p-4">
                    <div class="d-flex justify-content-center mb-3">
                        <h2>Login</h2>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input v-model="username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input v-model="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                    </div>
                    <div class="form-check">
                        <select v-model="selected" options="options"></select>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button v-on:click="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        
        <script type="text/javascript">
            
            var data = {
                username : '',
                password : '',
                options  : ['A', 'B', 'C'],
                selected : null
            };
            
            var vm = new Vue({
                el: '#app', 
                data : data,
                methods: {
                    submit: function() {
                        console.log('method is called!!!');
                        $message =  'Username: ' + this.username;
                        $message += 'Password: ' + this.password;
                        alert($message);
                    }
                }
            });
        </script>
    </body>
</html>
