<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>

        <div id="app">
            
            <h2>{{ fullName }}</h2>
            <hr>
            <div>
                <label for="firstName">First Name</label>
                <input id="firstName" type="text" v-model="firstName">
            </div>
            <br>
            <div>
                <label for="lastName">Last Name</label>
                <input id="lastName" type="text" v-model="lastName">
            </div>
        </div>

        <script type="text/javascript">

            var data = {
                firstName: 'John',
                lastName : 'Doe',
                fullName : 'John' + ' ' + 'Doe'
            };

            var vm = new Vue({
                el: '#app',
                data : data, 
                watch: {
                    firstName : function(firstName) {
                        this.fullName = firstName + ' ' + this.lastName;
                    },
                    lastName: function(lastName) {
                        this.fullName = this.firstName + ' ' + lastName;
                    }
                }
            });

        </script>
    </body>
</html>
